{% if app_scheme == 'https' %}
server {
    listen 80;
    server_name {{ app_domain_name }} www.{{ app_domain_name }};

    index index.html index.htm index.php;

    access_log off;
    error_log off error;

    return 301 https://{{ app_domain_name }}$request_uri;
}
{% else %}
server {
    listen 80;
    server_name www.{{ app_domain_name }};

    index index.html index.htm index.php;

    access_log off;
    error_log off error;

    return 301 http://{{ app_domain_name }}$request_uri;
}

server {
     listen 80;
     server_name {{ app_domain_name }};

     root {{ nginx_base_web_directory }}/perpetuell/current/public;

     index index.html index.htm index.php;

     add_header X-Frame-Options "SAMEORIGIN";
     add_header X-Content-Type-Options "nosniff";
     add_header X-XSS-Protection "1; mode=block";

     charset utf-8;
     access_log off;

     location / {
        try_files $uri $uri/ /index.php?$query_string;
     }

     location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:{{ php_fpm_listen }};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_intercept_errors off;
        fastcgi_buffer_size 16k;
        fastcgi_buffers 4 16k;
        fastcgi_connect_timeout 600;
        fastcgi_send_timeout 600;
        fastcgi_read_timeout 600;
     }

     location ~* \.(woff|woff2|eot|ttf|jpg|jpeg|gif|svg|css|png|js|ico|json)$ {
        access_log off;
        log_not_found off;
        expires max;
        gzip_vary on;
     }

     location ~ /\.(?!well-known).* {
        access_log off;
        log_not_found off;
        deny all;
     }
}
{% endif %}
